* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    padding: 10px 100px 100px 100px;
    background-color: #1F2937;
}

ul {
    display: flex;
    align-items: center;

    gap: 10px;

    list-style-type: none;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

a, p, button, img {
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    align-items: center;
}

.left-side, .right-side {
    flex: 1;
}

.left-side > h2, .left-side > p {
    margin-bottom: 10px;
}

.left-side > button {
    background-color: #3882F6;
    border-radius: 5px;
    width: 115px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    height: 150px;
}

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-information > h3 {
    margin: 30px 0;
}

.info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info-div > div {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-div > div > p {
    text-align: center;
}

.image-info {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}